@media screen and (max-width: 368px) {
    img.smallResolution{
        min-height: 150px;
    }

}

body {
	background-image: url("images/taylorswiftwithcat.jpg");
	background-size: cover;
	background-attachment: fixed;
}


h2 {
	color: red;
}

p {
	font-family: 'Arial';
}

h2 {
	font-size: 20px;
}

.main {
	font-family: 'Arial';

}